body {
	background: #ececec;
	padding-bottom: 2.25rem;
}
/*头部返回部分开始*/
.header-return {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	height: 1rem;
	background: url(../images/ox.png) no-repeat .5rem center;
	background-size: 15%;
	background-color: #010101;
	text-align: right;
}
.header-return a{
	width: .6rem;
	height: .6rem;
	margin: .15rem .3rem 0 0;
}
.header-return a img{
	width: 100%;
	height: 100%;
}
/*头部返回部分结束*/

/*头部导航条部分开始*/

.header-nav {
	height: 1rem;
	background: #0f0f0f;
	padding-bottom: .15rem;
	margin-top: .95rem;
}
.header-nav .header-menu{
	border-bottom: .01rem solid #2c2c2c;
	line-height: 1rem;
	display: flex;
	justify-content: space-around;
	}
.header-nav .header-menu a {
	height: 100%;
	color: #ebc18c;
	text-decoration: none;
	font-size: .48rem;
}
.header-nav .nav-active{
	border-bottom: .01rem solid #EBC18C;
}
.header-about {
	height: 1rem;
	background: #ffffff;
	line-height: 1rem;
	font-size: .48rem;
	color: #010101;
}
.header-about ul li {
	float: left;
}

.header-about ul li a {
	text-decoration: none;
	color: #010101;
}
.header-about ul li .about-active{
	color: #c8a771;
}
.header-about ul li:nth-child(1) {
	margin: 0 .78rem 0 .5rem;
}

.header-about ul li:nth-child(2) a {
	margin-right: .96rem;
}

.header-about ul li:nth-child(3) {
	margin-right: .98rem;
}


/*头部导航条部分结束*/
.header-picture{
	height:2.5rem ;
	margin-bottom: .15rem;
}
.header-picture a{
	width: 100%;
}
.header-picture img{
	width: 100%;
}


#slideDown{margin-top: 0;width: 100%;} 
         #slideDown1,#slideDown2{width: 100%;height: .7rem;;background: #e9f4f7;display: none;} 
         #slideDown1{height: .2rem;} 
         #slideDown1>p,#slideDown2>p{margin: .2rem auto;text-align:center;font-size: .14rem;color: #37bbf5;}
/*中间section开始*/
.section {
	background: #FFFFFF;
	padding:.26rem .36rem 0 .36rem; 
}
.section-first{
	padding-top: .6rem;
}
.section-group{
	height: 3.4rem;
	margin-bottom: .2rem;
	border-bottom:.01rem solid  #eae6e6;
}
.section-status{
	width: 3.5rem;
	height: 3.6rem;
	overflow: hidden;
} 
.section-status a{
	width: 100%;
	height: 100%;
} 
.section-status img{
	width: 100%;	
	height: 2.5rem;
}
.section-status span{
	width:1.7rem ;
	height: .5rem;
	float: right;
	background: #d2ae7e;
	text-align: center;
	margin-top:.1rem ;
	line-height: .5rem;
	border-radius: .45rem;
	color: white;
}
.section-status span font{
	font-weight: bold;
	display: inline-block;
	margin-right: .05rem;
}
.section-detail{
	width: 7.8rem;
	height:3.6rem;
	box-sizing: border-box;
	padding-left: .3rem;

}
.section-detail h2{
	font-size: .54rem;	
	color: #1f1f1f;
	font-weight: normal;
}
.section-detail p{
	margin: .1rem 0 .15rem;
	font-size: .42rem;
	color: #626262;
}
.section-detail span{
	font-size: .36rem;
	color: #f35339;
	display: inline-block;
	padding-left: .1rem;
}
/*中间section结束*/


/*加载更多部分开始*/

.more {
	height: 1.08rem;
	text-align: center;
	line-height: 1.08rem;
	font-size: .46rem;
}

.more a {
	text-decoration: none;
	color: #595959;
}
.more:after{
	content: '';
	display: block;
	height: .22rem;
	width: 100%;
	background: #FFFFFF;
}


/*加载更多部分结束*/


/*广告部分开始*/

.download {
	height: 2.47rem;
	box-sizing: border-box;
	padding: .2rem 0;
	margin-top: .2rem;
	background: #ececec;
}

.download img {
	width: 100%;
}


/*广告部分结束*/


/*推荐部分开始*/

.article {
	padding: .26rem .36rem 0 .36rem;
	margin-bottom: .5rem;
	background: #ffffff;
}

.article h2 {
	font-size: .58rem;
	color: #101010;
	padding-left: .22rem;
	margin-bottom: .37rem;
}

.article-group {
	width: 11.47rem;
	height: 2.85rem;
	padding-bottom: .42rem;
}
.article-group a{
	width: 100%;
	height: 100%;
}
.article-group img {
	width: 5.04rem;
	height: 2.85rem;
}
.article-detail {
	width: 6.43rem;
	height: 2.85rem;
	float: right;
	padding-left: .36rem;
	box-sizing: border-box;
	position: relative;
}

.article-detail p {
	font-size: .52rem;
	color: #373737;
}

.article-detail time {
	font-size: .42rem;
	color: #afafaf;
	bottom: 0;
	position: absolute;
}


/*推荐部分结束*/

/*尾部开始*/

.footer {
	width: 100%;
	height: 1.8rem;
	background: #FFFFFF;
	box-sizing: border-box;
	padding: .2rem .8rem 0 .8rem;
	border-top: .01rem solid #d2d0d0;
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	z-index: 99;
}
.footer a {
	width: 1rem;
	height: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-decoration: none;
	text-align: center;
}
.footer a img{
	width: .8rem;
	height: .8rem;
	margin: 0 auto;
}
.footer a span{
	width: 1rem;
	font-size: .4rem;
	color: #000;
	margin-top: .05rem;
}

/*尾部结束*/

