body {
	background: url(../images/user-register-bg.png) no-repeat;
	background-size: 100%;
}

/*中间section部分开始*/
.section{
	padding:9.4rem 1.2rem 0 ;
	box-sizing: border-box;
	background: transparent;
}
.section-phone{
	width: 100%;
	height: 1.2rem;
	background:#ffffff;
	box-sizing: border-box;
	padding-left:.3rem;
	border: .02rem solid #e1e1e1;
	border-radius: .2rem;
	font-size: .4rem;
	color: #b4b4b4;
	margin-bottom: .24rem;
}

.section-test{
	width: 60%;
	height: 1.2rem;
	background:#ffffff;
	box-sizing: border-box;
	padding-left:.3rem;
	border: .02rem solid #e1e1e1;
	border-radius: .2rem;
	font-size: .4rem;
	color: #b4b4b4;
}
.test-click{
	width: 38%;
	line-height: 1.2rem;
	display: inline-block;
	background: #f8f8f8;
	text-align: center;
	border: .02rem solid #e1e1e1;
	border-radius: .2rem;
}
.test-click a{
	font-size: .45rem;
	text-decoration: none;
	color: #707070;
}
/*服务协议结束*/

.section-submit{
	width: 100%;
	height: 1.1rem;
	font-size: .52rem;
	border-radius: .5rem;
	border: .07rem solid #606060;
	text-align: center;
	background: #ff514e;
	color: #ffe5e5;
	margin-top: 1.9rem;
}
/*中间section部分结束*/