body {
	background: #ececec;
	padding-bottom: 2.25rem;
}
/*头部返回部分开始*/

.header-return {
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	background-color: #010101;
	text-align: center;
	font-size:.5rem ;
	color: #FFFFFF;
	position: fixed;
	top: 0;
	z-index: 99;
}

.header-return a {
	height: 1rem;
	line-height: 1rem;
	font-size: .55rem;
	text-decoration: none;
	color: #b1b1b1;
	position: absolute;
	left: .6rem;
}

.header-return a font {
	font-size: .90rem;
	color: #e4e2e2;
}

/*头部返回部分结束*/

/*中间section部分开始*/
.section{
	padding-top: 1.72rem;
	padding:1.72rem .4rem 0 ;
	margin-top: 1.2rem;
	box-sizing: border-box;
	background: #FFFEFF;
}
.section ::-webkit-input-placeholder{
	color: #9c9c9c;
}
.section-user{
	width: 100%;
	height: 1.56rem;
	background:#ececec url(../images/user-forget-phone.png) .5rem center no-repeat;
	background-size:.65rem .62rem;
	box-sizing: border-box;
	padding-left:1.65rem;
	border-radius: .15rem;
	font-size: .45rem;
	color: #000000;
	border: none;
	margin-bottom: .45rem;
}
.section-test-box{
	height: 1.56rem;
	margin-bottom: .45rem;
	position: relative;
}
.section-test{
	width: 100%;
	height: 1.56rem;
	background:#ececec url(../images/user-forget-protect.png) .5rem center no-repeat;
	background-size:.65rem .62rem;
	box-sizing: border-box;
	padding-left:1.65rem;
	
	border-radius: .15rem;
	font-size: .45rem;
	color: #000000;
	border: none;
}
.section-test-send{
	width: 3.6rem;
	height: 1.56rem;
	text-align: center;
	line-height: 1.56rem;
	background: #dbb989;
	font-size: .45rem;
	position: absolute;
	right: 0;
	top: 0;
}
.section-test-send a{
	display: inline;
	color: #FFFFFF;
	text-decoration: none;
}
.section-password{
	width: 100%;
	height: 1.56rem;
	background:#ececec url(../images/user-forget-password.png) .5rem center no-repeat;
	background-size:.65rem .62rem;
	box-sizing: border-box;
	padding-left:1.65rem;
	border-radius: .15rem;
	font-size: .45rem;
	color: #000000;
	border: none;
	margin-bottom: 1.16rem;
}
.section-submit{
	width: 100%;
	height: 1.58rem;
	font-size: .52rem;
	border-radius: .15rem;
	text-align: center;
	background: #dbb989;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	margin-bottom: 7rem;
}
/*中间section部分结束*/
.blank{
	height:.4rem;
	background: #ececec;
}
/*尾部开始*/

.footer {
	width: 100%;
	height: 1.8rem;
	background: #FFFFFF;
	box-sizing: border-box;
	padding: .2rem .8rem 0 .8rem;
	border-top: .01rem solid #d2d0d0;
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	z-index: 99;
}
.footer a {
	width: 1rem;
	height: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-decoration: none;
	text-align: center;
}
.footer a img{
	width: .8rem;
	height: .8rem;
	margin: 0 auto;
}
.footer a span{
	width: 1rem;
	font-size: .4rem;
	color: #000;
	margin-top: .05rem;
}


/*尾部结束*/


