body {
	background: #ececec;
	padding-bottom: 2.25rem;
}
/*头部返回部分开始*/

.header-return {
	width: 100%;
	height: 1rem;
	text-align: left;
	position: fixed;
	top: 0;
	z-index: 99;
	background-color: #010101;
}

.header-return a {
	height: 1rem;
	line-height: 1rem;
	font-size: .55rem;
	text-decoration: none;
	color: #b1b1b1;
	margin-left: .64rem;
}

.header-return a font {
	font-size: .90rem;
	color: #e4e2e2;
}


/*头部返回部分结束*/

/*头部user部分开始*/
.header-user{
	height: 4.15rem;
	margin-top: .95rem;
	background:#010101 ;
	text-align: center;
}
.header-user a{
	width: 2.06rem;
	height: 2.06rem;
	border-radius: 1.24rem;
	/*border:.01rem solid #d2ac7b ;
	box-sizing: border-box;
	padding: .2rem;*/
	background-color:#010101 ;
}
.header-user a img{
	width: 100%;
	border-radius:50% ;
}
.header-user p{
	font-size: .38rem;
	color: #c9cbe4;
	line-height: .38rem;
	margin-top: .5rem;
	padding-left: 1.8rem;
}
.header-user p span{
	color:#d2ad80 ;
}
.header-user p a{
	width: .4rem;
	height: .4rem;
	vertical-align: middle;
	margin: 0 .1rem ;
}
.header-user p a img{
	width: 100%;
}
/*头部user部分结束*/

/*section中基本信息开始*/
.section-info{
	margin-top: 1rem;
	background: #FFFFFF;
}
.section-info-base{
	height:1.7rem ;
	line-height: 1.7rem;
	border-bottom: .01rem solid #d2ae7e;
}
.section-info-base p{
	padding-left: .5rem;
	font-size: .52rem;
	color: #333333;
}
.section-info-phone{
	height:1.7rem ;
	line-height: 1.7rem;
	border-bottom: .02rem solid #ececec;
	padding-left: .5rem;
}
.section-info-phone p{
	font-size:.52rem ;
	color: #333333;
	padding-right: .48rem;
}
.section-info-email{
	height:1.7rem ;
	line-height: 1.7rem;
	border-bottom: .02rem solid #ececec;
	padding-left: .5rem;
}
.section-info-email select{
	margin-top: .6rem;
	font-size: .4rem;
}
.section-info-email select option{
	font-size: .4rem;
}
.section-info-email p{
	font-size:.52rem ;
	color: #333333;
	padding-right: .48rem;
}
.section-advice{
	height:3rem ;
	line-height: 3rem;
	border-bottom: .02rem solid #ececec;
	padding-left: .5rem;
}
.section-advice p{
	font-size:.52rem ;
	color: #333333;
	padding-right: .48rem;
}
.section-advice textarea{
	width: 60%;
	height: 2rem;
	vertical-align: middle;
	line-height: .5rem;
	border: .01rem solid #ECECEC;
	font-size: .35rem;
	resize: none;
}
/*section中基本信息结束*/

/*退出登入开始*/
.exit{
	width: 100%;
	height:1.7rem ;
	line-height: 1.7rem;
	background:#cba372 ;
	text-align: center;
	color: #ffffff;
	font-size: .5rem;
	margin-top: .5rem;
}
/*退出登入结束*/

/*尾部开始*/
.footer {
	width: 100%;
	height: 1.5rem;
	background: #FFFFFF;
	box-sizing: border-box;
	padding: .15rem .8rem 0 .8rem;
	border-top: .01rem solid #d2d0d0;
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	z-index: 99;
}
.footer a {
	width: 1rem;
	height: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-decoration: none;
	text-align: center;
}
.footer a img{
	width: .6rem;
	height: .6rem;
	margin: 0 auto;
}
.footer a span{
	width: 1rem;
	font-size: .4rem;
	color: #000;
	margin-top: .05rem;
}

/*尾部结束*/


