body {
	background: #ececec;
	padding-bottom: 2.25rem;
}

/*头部返回部分开始*/

.header-return {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	height: 1rem;
	text-align: left;
	background-color: #010101;
}
.header-return a {
	height: 1rem;
	line-height: 1rem;
	font-size: .48rem;
	text-decoration: none;
	color: #b1b1b1;
	margin-left: .64rem;
}

.header-return a font {
	font-size: .90rem;
	color: #e4e2e2;
}
/*头部返回部分结束*/

/*头部导航条部分开始*/


.header-nav {
	height: 1rem;
	background: #0f0f0f;
	padding-bottom: .15rem;
	margin-top: .95rem;
}
.header-nav .header-menu{
	border-bottom: .01rem solid #2c2c2c;
	line-height: 1rem;
	display: flex;
	justify-content: space-around;
	}
.header-nav .header-menu a {
	height: 100%;
	color: #ebc18c;
	text-decoration: none;
	font-size: .48rem;
}

.header-about {
	height: 1rem;
	background: #ffffff;
	line-height: 1rem;
	font-size: .48rem;
	color: #010101;
}

.header-about {
	height: 1rem;
	background: #ffffff;
	line-height: 1rem;
	font-size: .48rem;
	color: #010101;
}

.header-about ul li {
	float: left;
}

.header-about ul li a {
	text-decoration: none;
	color: #010101;
}
.header-about ul li .about-active{
	color: #c8a771;
}
.header-about ul li:nth-child(1) {
	margin: 0 .78rem 0 .5rem;
}

.header-about ul li:nth-child(2) a {
	margin-right: .96rem;
}

.header-about ul li:nth-child(3) {
	margin-right: .98rem;
}


/*头部导航条部分结束*/
/*头部背景图片开始*/
.header-bg {
	height: 6.32rem;
	margin-top: .2rem;
}
.header-bg a{
	width: 100%;
}
.header-bg img{
	width: 100%;
}
/*头部背景图片结束*/
/*section部分开始*/
.section{
	margin-top: .2rem;
	background: #0f0f0f;
	box-sizing: border-box;
	padding: .42rem 0 .2rem 0;
}
.section-title{
	height: 1.04rem;
	border-bottom: .01rem solid #878787;
	font-size: .54rem;
	color: #cdb47e;
}
.section-title a{
	color: #cdb47e;
	text-decoration: none;
}
.section-title a:nth-child(1){
	margin-left: .94rem;
}
.section-title span{
	height: .4rem;
	width: .06rem;
	background-color: #88764e;
	display: inline-block;
	margin: 0 .75rem;
	
}
.section-article{
	box-sizing: border-box;
	padding:.46rem 0 0 .2rem;
}

.section-article-group{
	height: 2.05rem;
	background: #272727;
	box-sizing: border-box;
	border: .01rem solid #515151;
	padding: .4rem .24rem 0 .26rem;
	margin-bottom: .2rem;
}
.section-article-group a{
	font-size: .42rem;
	color: #ddbb8d;
	text-decoration: none;
	display: inline-block;
}
.section-article-group-left{
	width: 7.4rem;
	font-size:.35rem ;
	display: inline-block;
	color: #bdbdbd;
	margin-right: .1rem;
}
.section-article-group-left p a{
	font-size: .42rem;
	color: #ddbb8d;
	text-decoration: none;
	display: inline-block;
	margin-bottom: .24rem;
}
.section-article-group-middle{
	width: 2.4rem;
	font-size:.35rem ;
	display: inline-block;
	color: #bdbdbd;
}
.section-article-group-middle p{
	font-size: .42rem;
	color: #ddbb8d;
	margin-bottom: .24rem;
}
.section-article-group-right{
	width: 1.4rem;
	font-size:.35rem ;
	display: inline-block;
	color: #bdbdbd;
}
.section-article-group-right p{
	font-size: .42rem;
	color: #FFFFFF;
	margin-bottom: .24rem;
}

/*section部分结束*/

/*推荐部分开始*/
.article {
	margin: .2rem 0 .5rem 0;
	padding: .47rem .47rem 0 .45rem;
	background: #ffffff;
}

.article h2 {
	font-size: .58rem;
	color: #101010;
	padding-left: .22rem;
	margin-bottom: .37rem;
}

.article-group {
	width: 11.47rem;
	height: 2.85rem;
	padding-bottom: .42rem;
}

.article-group img {
	width: 5.04rem;
	height: 2.85rem;
}
.article-detail {
	width: 6.43rem;
	height: 2.85rem;
	float: right;
	padding-left: .36rem;
	box-sizing: border-box;
	position: relative;
}

.article-detail p {
	font-size: .52rem;
	color: #373737;
}

.article-detail time {
	font-size: .42rem;
	color: #afafaf;
	bottom: 0;
	position: absolute;
}


/*推荐部分结束*/

.article-blank {
	width: 100%;
	height: .5rem;
	background: #ececec;
}


/*尾部开始*/

.footer {
	width: 100%;
	height: 1.7rem;
	background: #FFFFFF;
	box-sizing: border-box;
	padding: .24rem 1rem .1rem 1rem;
	position: fixed;
	bottom: 0;
	z-index: 99;
}

.footer ul a {
	width: 1.01rem;
	height: 1.5rem;
	float: left;
	text-decoration: none;
	padding-left: .1rem;
	line-height: 2.1rem;
	font-size: .45rem;
	color: #2b2b2b;
}

.footer ul li {
	max-width: 100%;
	max-height: 100%;
}

.footer ul a:nth-child(1) {
	background: url(../images/footer-home.png) no-repeat top center;
	background-size: 70%;
	margin-right: 1.56rem;
}

.footer ul a:nth-child(2) {
	background: url(../images/footer-publish.png) no-repeat top center;
	background-size: 70%;
	margin-right: 2rem;
}

.footer ul a:nth-child(3) {
	background: url(../images/footer-tv.png) no-repeat top center;
	background-size: 70%;
	margin-right: 2rem;
}

.footer ul a:nth-child(4) {
	background: url(../images/footer-user.png) no-repeat top center;
	background-size: 70%;
	position: relative;
}
.footer ul a:nth-child(4) span{
	width: .6rem;
	height: .6rem;
	text-align: center;
	line-height: .6rem;
	border-radius:50% ;
	position: absolute;
	top: -.25rem;
	left: .5rem;
	background: #dd0000;
	font-size: .3rem;
	color: #FFFFFF;
}

/*尾部结束*/

