body {
	background: #ececec;
	padding-bottom: 2.25rem;
}
/*头部返回部分开始*/


.header-return {
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	background-color: #010101;
	text-align: center;
	font-size:.5rem ;
	color: #FFFFFF;
}

.header-return a {
	height: 1rem;
	line-height: 1rem;
	font-size: .55rem;
	text-decoration: none;
	color: #b1b1b1;
	position: absolute;
	left: .6rem;
}

.header-return a font {
	font-size: .90rem;
	color: #e4e2e2;
}


/*头部返回部分结束*/

/*section 部分开始*/
.section-task{
	height: 1.7rem;
	line-height: 1.7rem;
	background: #FFFFFF;
	font-size:.52rem ;
	color: 010101;
	border-bottom: .02rem solid #d1d1d1;
}
.section-task-box{
	padding:0 .5rem;
}
.long{
	padding:0 .3rem 0 .5rem;
}
.section-task-box p span{
	font-size: .4rem;
	color:#f3533b ;
}
/*section 部分结束*/

.blank{
	height:.4rem;
	background: #ececec;
}
/*尾部开始*/

.footer {
	width: 100%;
	height: 1.5rem;
	background: #FFFFFF;
	box-sizing: border-box;
	padding: .15rem .8rem 0 .8rem;
	border-top: .01rem solid #d2d0d0;
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	z-index: 99;
}
.footer a {
	width: 1rem;
	height: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-decoration: none;
	text-align: center;
}
.footer a img{
	width: .6rem;
	height: .6rem;
	margin: 0 auto;
}
.footer a span{
	width: 1rem;
	font-size: .4rem;
	color: #000;
	margin-top: .05rem;
}



/*尾部结束*/


