body {
	background: #ececec;
	padding-bottom: 2.25rem;
}
/*头部返回部分开始*/

.header-return {
	width: 100%;
	height: 1.48rem;
	line-height: 1.48rem;
	background-color: #010101;
	text-align: center;
	font-size:.62rem ;
	color: #FFFFFF;
	position: fixed;
	top: 0;
	z-index: 99;
}

.header-return a {
	height: 1.48rem;
	line-height: 1.48rem;
	font-size: .55rem;
	text-decoration: none;
	color: #b1b1b1;
	position: absolute;
	left: .6rem;
}

.header-return a font {
	font-size: .90rem;
	color: #e4e2e2;
}

/*头部返回部分结束*/

/*中间section部分开始*/
.section{
	padding-top: 1.72rem;
	padding:1.72rem .4rem 0 ;
	margin-top: 1.48rem;
	box-sizing: border-box;
	background: #FFFEFF;
}
.section ::-webkit-input-placeholder{
	color: #9c9c9c;
}
.section-user{
	width: 100%;
	height: 1.56rem;
	background:#ececec url(../images/user-forget-phone.png) .5rem center no-repeat;
	background-size:.65rem .62rem;
	box-sizing: border-box;
	padding-left:1.65rem;
	border-radius: .15rem;
	font-size: .45rem;
	color: #000000;
	border: none;
	margin-bottom: .45rem;
}
.section-test-box{
	height: 1.56rem;
	margin-bottom: .45rem;
	position: relative;
}
.section-test{
	width: 100%;
	height: 1.56rem;
	background:#ececec url(../images/user-forget-protect.png) .5rem center no-repeat;
	background-size:.65rem .62rem;
	box-sizing: border-box;
	padding-left:1.65rem;
	
	border-radius: .15rem;
	font-size: .45rem;
	color: #000000;
	border: none;
}
.section-test-send{
	width: 3.6rem;
	height: 1.56rem;
	text-align: center;
	line-height: 1.56rem;
	background: #dbb989;
	font-size: .45rem;
	position: absolute;
	right: 0;
	top: 0;
}
.section-test-send a{
	display: inline;
	color: #FFFFFF;
	text-decoration: none;
}
.section-password{
	width: 100%;
	height: 1.56rem;
	background:#ececec url(../images/user-forget-password.png) .5rem center no-repeat;
	background-size:.65rem .62rem;
	box-sizing: border-box;
	padding-left:1.65rem;
	border-radius: .15rem;
	font-size: .45rem;
	color: #000000;
	border: none;
	margin-bottom: 1.16rem;
}
.section-submit{
	width: 100%;
	height: 1.58rem;
	font-size: .52rem;
	border-radius: .15rem;
	text-align: center;
	background: #dbb989;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	margin-bottom: 7rem;
}
/*中间section部分结束*/
.blank{
	height:.4rem;
	background: #ececec;
}
/*尾部开始*/

.footer {
	width: 100%;
	height: 2.25rem;
	background: #FFFFFF;
	box-sizing: border-box;
	padding: .42rem 1.04rem 0 1.14rem;
	position: fixed;
	bottom: 0;
	z-index: 99;
}

.footer ul a {
	width: 1.01rem;
	height: 1.5rem;
	float: left;
	text-decoration: none;
	padding-left: .1rem;
	line-height: 2.3rem;
	font-size: .45rem;
	color: #2b2b2b;
}

.footer ul li {
	max-width: 100%;
	max-height: 100%;
}

.footer ul a:nth-child(1) {
	background: url(../images/footer-home.png) no-repeat top center;
	background-size: 75%;
	margin-right: 1.56rem;
}

.footer ul a:nth-child(2) {
	background: url(../images/footer-publish.png) no-repeat top center;
	background-size: 75%;
	margin-right: 2rem;
}

.footer ul a:nth-child(3) {
	background: url(../images/footer-tv.png) no-repeat top center;
	background-size: 75%;
	margin-right: 2rem;
}

.footer ul a:nth-child(4) {
	background: url(../images/footer-user.png) no-repeat top center;
	background-size: 75%;
	position: relative;
}
.footer ul a:nth-child(4) span{
	width: .6rem;
	height: .6rem;
	text-align: center;
	line-height: .6rem;
	border-radius:50% ;
	position: absolute;
	top: -.25rem;
	left: .5rem;
	background: #dd0000;
	font-size: .3rem;
	color: #FFFFFF;
}


/*尾部结束*/


