body {
	background: url(../images/user-register-bg.png) no-repeat;
	background-size:100% 140%;
	background-color: #323232;
}

/*中间section部分开始*/
.section{
	padding:4.2rem 1.2rem 0 ;
	box-sizing: border-box;
	background: transparent;
}
.section h2{
	font-size: .8rem;
	color: #fcfafa;
	text-align: center;
	font-weight: 400;
	margin: .6rem 0;
}
.section ::-webkit-input-placeholder{
	color: #acacac;
}
.section-user{
	width: 100%;
	height: 1.2rem;
	background:#ffffff;
	box-sizing: border-box;
	padding-left:.3rem;
	border-radius: .2rem;
	border: .02rem solid #e1e1e1;
	font-size: .4rem;
	color: #b4b4b4;
	margin-bottom: .24rem;
}
.section-password{
	width: 100%;
	height: 1.2rem;
	background:#ffffff;
	box-sizing: border-box;
	padding-left:.3rem;
	border-radius: .2rem;
	border: .02rem solid #e1e1e1;
	font-size: .4rem;
	color: #b4b4b4;
	margin-bottom: .24rem;
}
.section a{
	font-size: .45rem;
	display: block;
	text-decoration: none;
}
.section-forget{
	font-size: .45rem;
	color: #fcfafa;
	padding-right: .2rem;
	margin-top: .12rem;
	margin-bottom:.37rem;
	text-align: right;
}
.section-login{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	background:#ff514e;
	box-sizing: border-box;
	border-radius: .5rem;
	border: .02rem solid #606060;
	font-size: .52rem;
	color: #fcfafa;
}
.section-register{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	font-size: .52rem;
	border-radius: .5rem;
	border: .02rem solid #606060;
	text-align: center;
	background: #ffffff;
	color: #ff6967;
	margin-top: .2rem;
}
.section-other{
	width: 100%;
	margin-top: .68rem;
	text-align: center;
	position: relative;
}

.section-other .white-border{
	width: 100%;
	height: .03rem;
	background: #FFFFFF;
	position: absolute;
	top: .35rem;
}
.section-other p{
	width: 40%;
	height: .7rem;
	line-height: .7rem;
	display: inline-block;
	font-size:.5rem ;
	color: #ffffff;
	background: #474747;
	border-radius: .4rem;
	margin-bottom: .1rem;
	z-index: 10;
	position: relative;
}
.section-contact{
	text-align: center;

}
.section-contact a{
	width: 1.5rem;
	height: 1.5rem;
	border-radius:50% ;
	display: inline-block;
}
.section-contact a img{
	width: 100%;
	border-radius: 50%;

}
.section-contact a:nth-child(1){
	margin-right: .95rem;
}



