body {
	min-width: 1300px;
}
/*<!--开头部分开始-->*/
.header {
	width: 100%;
	height: 150px;
}

.header_top {
	width: 100%;
	height: 79.5px;
	padding-top: 22.5px;
}

.header_top_one {
	padding: 0 150px 0 20px;
}

.header_top_one .fl font {
	font-size: 38px;
	color: #b30000;
	text-align: left;
	font-weight: bold;
}

.header_top_one .fl span {
	font-size: 32px;
	color: rgb(204, 204, 204);
	font-weight: bold;
}

.header_top_one .fr ul .fr {
	margin-left: 10px;
}

.header_top_one .fr ul .fr p {
	font-size: 16px;
	color: rgb(102, 102, 102);
	font-family: '微软雅黑';
}

.header_top_one .fr ul .fr span {
	font-size: 24px;
	color: rgb(73, 73, 73);
	font-family: '微软雅黑';
}

.header_bottom {
	width: 100%;
	height: 48px;
	background: #2b2b2b;
	margin-top: 22.5px;
}

.header_bottom ul {
	height: 100%;
	padding-left: 15px;
}

.header_bottom .active {
	background: #c40000;
}

.header_bottom li {
	width: 120px;
	height: 48px;
	float: left;
	margin-right: 20px;
	padding: 0 10px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 48px;
	cursor: pointer;
}
/*<!--开头部分结束-->*/

/*<!--轮播图开始-->*/
.middle .carousel {
	width: 100%;
	height: 700px;
}

.carousel-inner .twoimg {
	background-image: url(../img/2.jpg);
	background-size: cover;
	height: 700px;
}

.carousel-inner .oneimg {
	background-image: url(../img/1.jpg);
	background-size: cover;
	height: 700px;
}

.carousel a {
	width: 71px;
	height: 71px;
	color: white;
	background: #222222;
	position: absolute;
	top: 50%;
	margin-top: -33.5px;
	cursor: pointer;
}

.carousel a.left {
	background-image: url(../img/3.png);
	left: 40px;
}

.carousel a.right {
	background-image: url(../img/4.png);
	right: 40px;
}

.carousel-text {
	position: absolute;
	width: 700px;
	top: 150px;
	left: 40px;
	margin-left: 100px;
}

.carousel-text img {
	vertical-align: middle;
	margin-right: 10px;
}

.carousel-text_top {
	width: 160px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.carousel-text_top h2 {
	background: rgba(255, 255, 255);
	color: white;
	font-size: 36px;
	margin-bottom: 8px;
}

.carousel-text_top h5 {
	color: white;
	background: rgba(255, 255, 255);
	font-size: 14px;
}

.carousel-text p {
	margin: 12px 0;
	color: rgba(255, 255, 255, 0.624);
	font-size: 16px;
}

.carousel-text span {
	color: rgba(255, 255, 255, 0.624);
	line-height: 22px;
}

.carousel-caption {
	height: 100%;
	top: 30%;
}

.carousel-caption h2 {
	color: rgb(255, 255, 255);
	font-size: 48px;
	margin-bottom: 20px;
	border-bottom: 1px solid #3e3d3c;
	border-top: 1px solid #3e3d3c;
	padding: 30px 0;
	position: relative;
	display: inline-block;
}

.carousel-caption p {
	font-size: 18px;
	color: rgba(255, 255, 255, 0.655);
	margin-bottom: 15px;
}

.carousel-caption span {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.655);
}
/*<!--轮播图结束-->*/

/*<!--中间第一块开始-->*/
.mechanical {
	height: 932px;
	background: #f7f7f7;
	padding-top: 110px;
}

.mechanical-top {
	height: 60px;
	width: 340px;
	margin: 0 auto;
	text-align: center;
}

.mechanical span {
	display: inline-block;
	font-size: 18px;
	color: #666666;
}

.mechanical-top span img {
	width: 37px;
	height: 53px;
	vertical-align: bottom;
	margin: 0 10px;
}

.mechanical span h2 {
	font-size: 30px;
	color: rgb(33, 33, 33);
	display: inline-block;
}

.mechanical-middle {
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
}

.mechanical-middle img {
	width: 520px;
	height: 18px;
}

.mechanical-middle span {
	display: inline-block;
	width: 130px;
	font-size: 13px;
	color: rgb(169, 169, 169);
}

.mechanical-middle font {
	height: 1px;
	width: 434px;
	display: inline-block;
	background: rgb(222, 222, 222);
	margin-bottom: 4px;
}
.column {
	width: 400px;
	height: 600px;
	margin-top:70px ;	
}
.items {
	width: 320px;
	height: 260px;
	text-align: center;
}
.items h3{
	color: rgb(68, 68, 68);
	font-size: 18px;
	margin: 20px 0;
}
.items span{
	width: 248px;
	color: rgb(136, 136, 136);
	font-size: 14px;
	line-height: 1.8;
}
.items img{
	width: 130px;
	height: 130px;
}
.items_middle{
	height: 330px;
	width: 330px;
	background-image: url(../img/11.png);
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -160px;
}
.container {
	margin: 0 auto;
	padding: 2px;
	position: relative;
}
.box5 {
	display: flex;
	/*justify-content:space-between;*/
}
.box5 .column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.box5 .column:nth-child(2) {
	justify-content: center;
}
/*<!--中间第一块结束-->*/

/*<!--中间第二块开始-->*/
.equipment{
	width: 100%;
	height: 400px;
	background: url(../img/24.jpg) no-repeat 50%;
}
.equipment-left{
	width: 572px;
	height: 300px;
	margin-left: 200px;
	margin-top: 100px;
}
.equipment-left h3{
	font-size: 26px;
	color: rgb(255, 255, 255);
}
.equipment-left h1{
	font-size: 48px;
	color: rgb(255, 255, 255);
	margin: 25px 0 ;
}
.equipment-left p{
	font-size: 16px;
	color: rgb(255, 255, 255);
	margin-bottom: 6px;
}
.equipment-left span{
	font-size: 16px;
	color: rgb(255, 255, 255);
}
.equipment-right{
	width: 260px;
	height: 300px;
	margin-right: 100px;
	margin-top: 100px;
}
.equipment-right p{
	font-size: 18px;
	color: rgb(255, 255, 255);
}
.equipment-right h1{
	font-size: 36px;
	color: rgb(255, 255, 255);
	margin: 20px 0 30px 0 ;
}
.equipment-right .phone{
	width: 210px;
	height: 60px;
	background: #c40000;
	color: rgb(255, 255, 255);
	font-size: 25px;
	text-align: center;
	line-height: 60px;
	border-radius: 5px 5px 5px 5px;
}
/*<!--中间第二块结束-->*/

/*<!--中间第三块开始-->*/
.compete{
	height: 920px;
	padding-top: 110px;
	background: url(../img/26.png) no-repeat -326px 0px;
}
.compete-top {
	height: 60px;
	width: 340px;
	margin: 0 auto;
	text-align: center;
}

.compete span {
	display: inline-block;
	font-size: 18px;
	color: #666666;
}

.compete-top span img {
	width: 37px;
	height: 53px;
	vertical-align: bottom;
	margin: 0 10px;
}

.compete span h2 {
	font-size: 30px;
	color: rgb(33, 33, 33);
	display: inline-block;
}

.compete-middle {
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
}

.compete-middle img {
	width: 520px;
	height: 18px;
}

.compete-middle span {
	display: inline-block;
	width: 130px;
	font-size: 13px;
	color: rgb(169, 169, 169);
}

.compete-middle font {
	height: 1px;
	width: 434px;
	display: inline-block;
	background: rgb(222, 222, 222);
	margin-bottom: 4px;
}
.compete-left{
	width: 100px;
	height: 600px;
	margin-left: 100px;
	margin-top: 80px;
}

.compete-left ul li{
	width: 55px;
	height: 55px;
	background: #c40000;
	color: #ffffff;
	font-size: 26px;
	border-radius: 50%;
	text-align: center;
	line-height: 55px;
	margin-bottom: 90px;
}
.compete-left ul li:nth-of-type(1){
	width: 67px;
	height: 67px;
	line-height: 67px;
}
.compete-right{
	width: 700px;
	height: 580px;
	margin-left: 30px;
	margin-top: 80px;
}
.compete-right .text{
	margin-bottom: 50px;
}
.compete-right .text h1{
	font-size: 24px;
	color: rgb(68, 68, 68);
	line-height: 1.8;
}
.compete-right .text p{
	font-size: 14px;
	color: rgb(153, 153, 153);
	line-height: 1.8;
}
/*<!--中间第三块结束-->*/

/*<!--中间第四块开始-->*/
.sattsfacttion{
	height: 800px;
	background: url(../img/27.jpg) no-repeat; 
	padding-top: 60px;
	text-align: center;
}
.sattsfacttion h1,h2{
	font-size: 36px;
	color: rgb(255, 255, 255);
}
.sattsfacttion h2{
	margin-top: 30px;
}
.sattsfacttion-img{
	margin-top: 60px;
	text-align: center;
}
.sattsfacttion-img img{
	margin-left: 20px;
}
.sattsfacttion h3{
	font-size: 26px;
	color:rgb(255, 255, 255) ;
	margin: 60px 0 30px 0;
	
}
.sattsfacttion p{
	font-size: 16px;
	line-height: 28px;
	color: rgb(255, 255, 255);
	margin-left: 60px;
	text-align: left;
}
/*<!--中间第四块结束-->*/

/*<!--中间第五块开始-->*/
.news{
	height: 750px;
	padding-top: 100px;
	text-align: center;
	background: #f9f9f9;
}
.news h1{
	font-size:38px ;
	color: rgb(34, 34, 34);
}
.news p{
	font-size: 14px;	
	color: rgb(153, 153, 153);
	margin: 15px 0 25px 0 ;
}
.news-left{
	width: 400px;
	height: 420px;
	margin: 60px 25px 0 40px;
}
.news-right{
	height: 420px;
	margin-top: 60px;
}
.news-right-numb{
	height: 120px;
	border-bottom:1px solid rgba(153, 153, 153,.3) ;
	margin-bottom: 40px;
}
.news-right-numb:last-of-type{
	border-bottom: none;
}
.news-right-numb h3{
	font-size: 16px;
	color: #161616;
	text-align: left;
}
.news-right-numb p{
	font-size: 14px;
	color: #9b9b9b;
	line-height: 1.8;
	text-align: left;
}
/*<!--中间第五块结束-->*/

/*<!--结尾部分开始-->*/
.footer{
	height: 410px;
	background:url(../img/37.jpg) ;
}
.footer .about{
	height: 150px;
	width: 560px;
	display: inline-block;
	margin: 100px 90px 100px 130px;
	vertical-align: middle;
}
.footer h1{
	font-size: 18px;
	color: rgb(222, 222, 222);
	margin-bottom:20px ;
}
.footer p{
	font-size: 14px;
	color: rgb(170, 170, 170);
	line-height: 29px;
}	
.footer .address{
	width: 300px;
	height:150px ;
	display: inline-block;
	vertical-align: middle;
}
.footer .address  p{
	line-height: 34px;
}
.footer .end{
	text-align: center;
}
.footer .end p{
	font-size: 14px;
	color: #dbdbdb;
	line-height: 22px;
}
/*<!--结尾部分结束-->*/