body {
	background: #FFFFFF;
}
/*头部部分开始*/
.header{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	background-color: #010101;
	text-align: center;
	font-size: .5rem;
	color: #FFFFFF;
}
.header a{
	height: 1.2rem;
    line-height: 1.2rem;
    text-decoration: none;
    color: #b1b1b1;
    position: absolute;
}
.header .left{
	line-height: 1.05rem;
	left: .3rem;
    font-size: .90rem;
    color: #e4e2e2;
}
.header .left font img{
	width: .3rem;
	height: .5rem;
}
/*头部部分结束*/

.nav-tabs{
	padding-left: .36rem;
}
.nav-tabs > li{
	margin-bottom: -.05rem ;
}
.nav-tabs > li > a{
	height: 1.5rem;
	width: 2.5rem;
	line-height: 1.5rem;
	text-align: center;
	font-size: .5rem;
	padding: 0;
}
/*group部分开始*/
.group{
	padding: .2rem 0 .25rem .36rem;
	background: #ffffff;
	border-bottom: .01rem solid #ECECEC;
}
.group div{
	display: inline-block;
}
.group .left{
	width: 60%;
	font-size: .4rem;
	color: #737373;
	vertical-align: middle;
}
.group .left h3{
	font-size: .5rem;
	color: #000000;
}
.group .left span{
	display: inline-block;
	margin: .2rem 0 ;
}
.group .left font{
	display: inline-block;
	margin-left: .2rem;
}
.group .middle-left{
	width: 10%;
	font-size: .4rem;
	color: #737373;
	margin-right: .4rem;
	vertical-align: middle;
}
.group .middle-right{
	width: 15%;
	font-size: .4rem;
	color: #737373;
	vertical-align: middle;
}
.group .middle-right span{
	font-size: .62rem;
	color: red;
}
.group .right{
	width: 8%;
	padding-right: .2rem;
	text-align: right;
}
.group .right img{
	width: .3rem;
	height: .5rem;
	vertical-align: text-top;
}

/*group部分结束*/