body {
	background: #ececec;
	padding-bottom: .6rem;
}
.top{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
}
/*头部开始*/
.header-nav {
	width: 100%;
	height: 1.2rem;
	background-color: #222126;
}
.header-nav .logo{
	width: 1.8rem;
	height: .8rem;
    margin: .2rem .4rem 0 .6rem;
    float: left;
}
.header-nav img{
	width: 100%;
	height: 100%;
}
.header-nav ul{
	float: left;
	/*margin-left:2.8rem;*/
}
.header-nav ul li{
	display: inline-block;
	height: 1.2rem;
	line-height: 1.2rem;
	box-sizing: border-box;
}
.header-nav ul li a{
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	font-size: .4rem;
	box-sizing: border-box;
	text-decoration: none;
}
.header-nav ul .nav-active{
	color:#f95150 ;
	border-bottom: .04rem solid #db0b0b;
}
.header-nav ul .nav-middle{
	margin: 0 .45rem;
}
.header-nav .game{
	width: 1.8rem;	
	height: .8rem;
	margin-left: .5rem;
	margin-top: .2rem;
}
.header-nav .game img{
	width: 100%;
	height: 100%;
}
}
.header-nav .game img{
	width: 100%;
	height: 100%;
}
.header-nav .search{
	width: .5rem;
	height: .62rem;
	float: right;
	margin: .26rem .45rem 0  0;
}
.header-nav .search img{
	width: 100%;
	height: 100%;
}
/*头部导航条部分结束*/

/*轮播图开始*/
#content{
	margin-top: 1.2rem;
}
.swiper-container{
	margin: 1.2rem 0 .15rem;
	width: 100%;
	height: 5rem;
}
.swiper-container a{
	width: 100%;
	height: 100%;
}
.swiper-container a img{
	width: 100%;
	height: 100%;
}
/*轮播图结束*/

/*轮播图下面战报开始*/
.new{
	padding: .2rem .36rem 0 .36rem;
	background: #FFFFFF;
}
@media screen and (max-width:320px){
 .new{
	padding: .2rem .26rem .2rem .26rem;
}
}
.new h3{
	font-size:.48rem ;
	color: #fe0000;
	margin:.2rem 0 .3rem 0;
	text-align: center;
}
.new p{
	font-size: .4rem;
	line-height: .8rem;
}
.new p a{
	color: #000000;
	text-decoration: none;
}
.new p a:hover{
	color: #0064d4;
	text-decoration: underline;
}
.new p span{
	font-size: .35rem;
	color:#b3b3b3 ;
}
.new p .eye{
	margin-right: .15rem;
}
.new .new-last{
	padding-bottom: .2rem;
	border-bottom:.01rem solid #ECECEC ;
}
/*牛直播开始*/
.star{
	width: 100%;
	background: #FFFFFF;
}
.star h3{
	margin-bottom: .15rem;
}
.star h3 a {
	font-size: .45rem;
	height: .6rem;
	line-height: .6rem;
	display: block;
	padding: .2rem .5rem .15rem .4rem;
	text-decoration: none;
	color: #333333;

}
.star h3 a img{
	width: .45rem;
	vertical-align: text-bottom;
	margin-right: .1rem;
}
.star h3 a span{
	font-size: .35rem;
	color: #a9a7a8;
}
.star-section{
	padding: 0 .36rem;	
}
.star-border{
	display: flex;
	justify-content: space-between;
	border-bottom: .01rem solid #ECECEC;
	padding-bottom: .3rem;
}
.star-border p{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: .35rem;
	color: #333333;
	margin-bottom: .05rem;
	margin-top: .08rem;
}
.star-border .lol{
	width: 5.7rem;
	flex-direction: column;
	text-align: left;
}
.star-border a{
	width: 100%;
	height: 3rem;
}
.star-border  a video{
	width: 100%;
	height: 100%;
	object-fit: fill;
}
.star-border .lol a{
	width: 5.7rem;
	height: 3rem;
	position: relative;
	border-radius: .2rem;
}
.star-border .lol a img{
	width: 100%;
	height: 100%;
	border-radius: .2rem;
}
.star-border .lol-name{
	width: 1.8rem;
	line-height: .55rem;
	text-align: center;
	position: absolute;
	display: inline-block;
	border-top-right-radius: .2rem;
	right: 0;
	top: 0;
	font-size: .3rem;
	color: rgba(255,255,255,1);
	background: rgba(0,0,0,.3);
}
.star-border a font{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	height: .4rem;
	font-size: .25rem;
	color: #c7c6c6;
	padding-bottom: .1rem;
}
.star-border a font i{
	margin-left: .2rem;
	font-style: normal;
}
.star-border a font span{
	width: 1.6rem;
	height: 100%;
	text-align: right;
	margin-right: .2rem;
}
.star-border  a font span em{
	margin-right: .1rem;
}
.star-border .king{
	width: 5.7rem;
	flex-direction: column;
	text-align: left;
}
.star-border .king a{
	width: 5.7rem;
	height: 3rem;
	position: relative;
	border-radius: .2rem;
}
.star .king a img{
	width: 100%;
	height: 100%;
	border-radius: .2rem;
}
.star-border span a{
	display: inline;
	font-size: .35rem;
	text-decoration: none;
	color: #fbaf4e;
}


/*牛直播结束*/
/*轮播图下面战报结束*/

/*广告部分开始*/
.download-one {
	box-sizing: border-box;
	padding: .2rem .36rem .1rem .36rem;
	background: #FFFFFF;
}
.download-one-two{
	position: relative;
	
}
.download-one-two h3 a img{
	width: .5rem;
	margin-right: .1rem;
	vertical-align: text-bottom;
}
.download-one-border{
	padding: .15rem .36rem .25rem .36rem;	
}
.download-one .download-one-bg{
	width: 100%;
	height: 5.5rem;
	position: relative;
	padding-bottom: .4rem;
	border-bottom: .01rem solid #ECECEC;
}
.download-one .download-one-bg-border{
	border-bottom: none;
}
.download-one  .download-one-bg img {
	width: 100%;
	height: 100%;
}
.download-one  .download-one-bg font{
	width: 1.5rem;
	height: 1.5rem;
	display: inline-block;
	background: url(../images/o-star.png) no-repeat;
	background-color: #FFFFFF;
	background-size:100%;
	position: absolute;
	bottom: .8rem;
	left: .5rem;
	z-index: 10;
	border-radius: 50%;
}
.download-one  .download-one-bg p{
	width: 100%;
	height: 2rem;
	position: absolute;
	bottom: .4rem;
	text-align: left;
	font-size: .6rem;
	padding: 0 .47rem;
	box-sizing: border-box;
}
.download-one  .download-one-bg .one{
	color: rgba(255,255,255,1);
	background: rgba(0,0,0,.3);
}
.download-one  .download-one-bg .two{
	color: rgba(255,255,255,1);
	background: rgba(0,0,0,.3);
}
.download-one  .download-one-bg span{
	height: .5rem;
	line-height: .6rem;
	position: absolute;
	display: inline-block;
	background: rgba(0,0,0,.3);
	font-size: .35rem;
	color: rgba(255,255,255,1);
	padding: .05rem .1rem;
	top: 0;
	right: 0;
}
.download-one h3{
	margin: .1rem 0 .25rem 0;
}
.download-one .border-top{
	padding-top: .3rem;
	border-top: .01rem solid #ECECEC;
}
.download-one h3 a {
	font-size: .45rem;
	height: .6rem;
	line-height: .6rem;
	display: block;
	box-sizing: border-box;
	color: #333333;
}
.download-one h3 a img{
	width: .5rem;
	height: .55rem;
	vertical-align: text-bottom;
	margin-right: .1rem;
}
.download-one h3 .download-logo-one{
	font-size: .45rem;
}
.download-one h3 .download-logo-one img{
	width: .4rem;
	margin-right: .1rem;
	vertical-align: text-bottom;
}
.download-one h3 a span{
	font-size: .35rem;
	color: #a9a7a8;
}
.download-one h2{
	font-size: .55rem;
}

.download-two{
	padding: .2rem .36rem .2rem .36rem;
	background: #FFFFFF;
}
.download-two h3{
	margin: .1rem 0 .1rem 0;
}
.download-two h3 a {
	font-size: .45rem;
	height: .6rem;
	line-height: .6rem;
	display: block;
	box-sizing: border-box;
	color: #333333;

}
.download-two h3 a img{
	width: .4rem;
	margin-right: .1rem;
	vertical-align: text-bottom;
}
.download-two h3 a span{
	font-size: .35rem;
	color:#a9a7a8;
}
.download-two-bg{
	display: flex;
	justify-content: space-between;
	padding: .2rem 0 .4rem 0;
	flex-wrap: nowrap;
	overflow-x: auto;
	border-bottom: .01rem solid #ECECEC;
}
.download-two-bg a{
	flex-basis: 20%;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	border-radius: .2rem;
	text-align: center;
	text-decoration: none;
}
.download-two-bg a img{
	width: 1.8rem;
	height: 1.8rem;
	border-radius: .2rem;
	margin: 0 auto;
}
.download-two-bg a p{
	font-size: .4rem;
	color: #000;
	margin-top: .15rem;
	color: #646464;
}
/*article部分开始*/

.article {
	padding: .01rem .36rem 0 .36rem;
	background: #ffffff;
}

.article-group{
	height: 3.06rem;
	margin-top: .2rem;
	border-bottom: .01rem solid #eae6e6;
	position: relative;
}
.article-group:last-child{
	border: none;
	padding-bottom: .2rem;
}
.article-group a {
	width: 5.04rem;
	height: 2.85rem;
	position: relative;
}

.article-group video{
	width: 100%;
	height: 100%;
}
.article-group img {
	width: 100%;
	height: 100%;
}
.article-group a span{
	height: .5rem;
	line-height: .6rem;
	position: absolute;
	display: inline-block;
	border-top-right-radius: .2rem;
	top: 0;
	right: 0;
	font-size: .35rem;
	color: rgba(255,255,255,1);
	background: rgba(0,0,0,.3);
	padding: .05rem .1rem;
}
.article-group .article-video{
	border-radius: .2rem;
}
.article-group .article-video img{
	border-radius: .2rem;
}
.article-detail {
	width: 6.43rem;
	height: 2.85rem;
	padding-left: .36rem;
	box-sizing: border-box;

}

.article-detail p {
	font-size: .52rem;
	color: #373737;
}

.article-detail span {
	font-size: .42rem;
	color: #afafaf;
	position: absolute;
	bottom: .2rem;
	right: .1rem;
}
.article-detail span font{
	/*width: .5rem;
	height: .5rem;*/
	margin-right: .3rem;
}
.article-detail span font img{
	width: .4rem;
	height: .4rem;
	vertical-align: middle;
	margin-bottom: .08rem;
}
/**/

.download-three{
	width: 100%;
	height: 2.5rem;
	padding: .35rem 0 .1rem :;;
	background: #FFFFFF;
}
.download-three a{
	width: 100%;
	height: 2.5rem;
}
.download-three a img{
	width: 100%;
	height: 100%;
}
.group_{
	padding: .1rem .36rem;
	background: #FFFFFF;
}
.group{
	position: relative;
	border-bottom: .01rem solid #ECECEC;
	padding-bottom: .1rem;
}
.group p{
	font-size: .5rem;
	font-weight: bold;
	color: #333333;
	margin-top: .1rem;
	margin-bottom: .2rem;
}
.group a{
	height: 3rem;
	display: flex;
	justify-content: space-between;
}
.group a img{
	width: 32%;
	height: 100%;
}
.group div{
	padding: .2rem 0;
}
.group span{
	font-size: .42rem;
	color:#969696 ;
}
.group i{
	font-size: .3rem;
	color: #646464;
}
.group i img{
	width: .5rem;
	height: .5rem;
	vertical-align: middle;
}
/*article部分结束*/

/*提示已经到底部开始*/
.warn{
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	color:  #4c92e487;
	font-size: .35rem;
}

.spinner {
	display: inline-block;
text-align: center;
}
.spinner > div {
width: .3rem;
height: .3rem;
background-color: #4c92e487;
border-radius: 100%;
display: inline-block;
-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
animation: bouncedelay 1.4s infinite ease-in-out;
/* Prevent first frame from flickering when animation starts */
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
.spinner .bounce1 {
-webkit-animation-delay: -0.32s;
animation-delay: -0.32s;
}
.spinner .bounce2 {
-webkit-animation-delay: -0.16s;
animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
0%, 80%, 100% { -webkit-transform: scale(0.0) }
40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
0%, 80%, 100% {
transform: scale(0.0);
-webkit-transform: scale(0.0);
} 40% {
transform: scale(1.0);
-webkit-transform: scale(1.0);
}
}
/*提示已经到底部结束*/


/*尾部开始*/

.footer {
	width: 100%;
	height: 1.8rem;
	background: #FFFFFF;
	box-sizing: border-box;
	padding: .2rem .8rem 0 .8rem;
	border-top: .01rem solid #d2d0d0;
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	z-index: 99;
}
.footer a {
	width: 1rem;
	height: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-decoration: none;
	text-align: center;
}
.footer a img{
	width: .8rem;
	height: .8rem;
	margin: 0 auto;
}
.footer a span{
	width: 1rem;
	font-size: .4rem;
	color: #000;
	margin-top: .05rem;
}
.footer-info{
	position: relative;	
}
.footer-info font{
	position: absolute;
	width: .3rem;
	height: .3rem;
	line-height: .5rem;
	border-radius: 50%;
	text-align: center;
	background: red;
	font-size: .3rem;
	color: white;
	top: -.13rem;
	right: 0.12rem;
	-webkit-text-size-adjust:none;
}